@using System.Linq.Expressions
@using NetQueryBuilder.Conditions
@using NetQueryBuilder.Queries
@if (Condition.Compile() is BinaryExpression)
{
    @switch (Condition.PropertyPath.PropertyType)
    {
        case { } intType when intType == typeof(int):
            <NumericField Label="Valeur" Variant="outlined" T="int"
                         Value="@((int?)Condition.Value)"
                         ValueChanged="@UpdateValue" />
            break;
        case { } stringType when stringType == typeof(string):
            <TextField Label="Valeur" Variant="outlined"
                      Value="@(Condition.Value?.ToString())"
                      ValueChanged="@UpdateValue" />
            break;
        case { } boolType when boolType == typeof(bool):
            <label class="nqb-switch-wrapper">
                <span>Valeur</span>
                <div class="nqb-switch">
                    <input type="checkbox" class="nqb-switch-input" 
                           checked="@((bool)Condition.Value!)" 
                           @onchange="@(e => UpdateValue((bool)e.Value!))" />
                    <span class="nqb-switch-slider"></span>
                </div>
            </label>
            break;
        case { } dateTimeType when dateTimeType == typeof(DateTime):
            <DatePicker Label="Valeur" Variant="outlined"
                       Date="@((DateTime?)Condition.Value)"
                       DateChanged="@UpdateValue" />
            break;
    }
}
@if (Condition.Compile() is MethodCallExpression)
{
    <RelationalValueMethod Condition="@Condition"></RelationalValueMethod>
}


@code {

    [CascadingParameter] public IQuery Query { get; set; } = null!;

    [Parameter] public SimpleCondition Condition { get; set; } = null!;

    private void UpdateValue(DateTime? dateTime)
    {
        if (dateTime.HasValue)
        {
            UpdateValue(dateTime.Value);
        }
    }

    private void UpdateValue<T>(T value)
    {
        Condition.Value = value;
    }

}
