@using System.Linq.Expressions
@using NetQueryBuilder.Conditions
<MudPaper Class="pa-2" Style=@("margin-left:" + IndentationLevel * 20 + "px;")>
    <MudGrid Spacing="3">
        @foreach (var childCondition in Condition.Conditions)
        {
            if (childCondition != Condition.Conditions.First())
            {
                <MudItem xs="12" sm="4">
                    <MudSelect T="string" Label="Operator" Value="@childCondition.LogicalType.ToString()" ValueChanged="@(v => ChangeOperator(childCondition, v))">
                        @foreach (var item in Operators)
                        {
                            <MudSelectItem T="string" Value="@item.Key">@item.Value</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
            }

            <MudItem xs="12" sm="4">
                @if (childCondition is BlockCondition block)
                {
                    <!-- Affiche un sous-bloc récursivement -->
                    <BlockComponent Condition="block"
                                    IndentationLevel="@(IndentationLevel + 1)"
                                    Parameter="@Parameter" OnChange="@OnChange"/>
                }
                else if (childCondition is LogicalCondition condition)
                {
                    <MudCheckBox T="bool" Label="Group"
                                 ValueChanged="@(e => Select(e, childCondition))"/>
                    <!-- Affiche un composant “lambda” ou un équivalent pour la condition simple -->
                    <LambdaComponent Condition="@condition" Parameter="@Parameter"/>
                    <MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.Delete" OnClick="e => RemovePredicate(condition)"></MudIconButton>
                }
            </MudItem>
        }

        <MudItem xs="12" sm="4">
            <div>
                <MudStack Row Spacing="2">
                    <MudButton Variant="Variant.Filled" OnClick="@(() => AddPredicate(ExpressionType.AndAlso))">And</MudButton>
                    <MudButton Variant="Variant.Filled" OnClick="@(() => AddPredicate(ExpressionType.OrElse))">Or</MudButton>
                    <MudButton Variant="Variant.Filled" OnClick="@(() => GroupConditions())">Group</MudButton>
                    @if (Condition.Parent != Condition.GetRoot())
                    {
                        <MudButton Variant="Variant.Filled" OnClick="@(() => UnGroupConditions())">Ungroup</MudButton>
                    }
                </MudStack>
            </div>
        </MudItem>
    </MudGrid>
</MudPaper>

@code {
    [Parameter] public BlockCondition Condition { get; set; }

    [Parameter] public int IndentationLevel { get; set; } = 0;

    [Parameter] public ParameterExpression Parameter { get; set; }

    [Parameter] public Action<Expression> OnChange { get; set; }

    List<ICondition> SelectedConditions { get; set; } = new();

    Dictionary<string, string> Operators = new()
    {
        { "AndAlso", "And" },
        { "OrElse", "Or" }
    };

    private void GroupConditions()
    {
        Condition.Group(SelectedConditions);
        SelectedConditions.Clear();
        OnChange(Condition.Compile());
    }

    private void UnGroupConditions()
    {
        Condition.Ungroup(SelectedConditions);
        SelectedConditions.Clear();
        OnChange(Condition.GetRoot().Compile());
    }

    private void Select(bool e, ICondition childCondition)
    {
        if (e)
            SelectedConditions.Add(childCondition);
        else
            SelectedConditions.Remove(childCondition);
    }


    private void AddPredicate(ExpressionType binaryExpressionType)
    {
        Condition.CreateNew();
        OnChange(Condition.Compile());
    }

    private void RemovePredicate(LogicalCondition condition)
    {
        Condition.Remove(condition);
    }

    private void ChangeOperator(ICondition condition, string op)
    {
        var expressionType = (ExpressionType)Enum.Parse(typeof(ExpressionType), op);
        condition.LogicalType = expressionType;
        OnChange(condition.Compile());
    }

}