@using System.Linq.Expressions
@using NetQueryBuilder.Conditions
<MudStack Spacing="5">
    <Predicate Condition="Condition"
               ParameterExpression="@ParameterExpression"
               OnChange="@ChangeLeft"
               OnRemove="@RemoveLeft">
    </Predicate>
    <div>
        <MudSelect T="string" Label="Operator" Value="@Condition.ComparaisonType.ToString()" ValueChanged="ChangeOperator">
            @foreach (var item in Operators)
            {
                <MudSelectItem T="string" Value="@item.Key">@item.Value</MudSelectItem>
            }
        </MudSelect>
    </div>
    <Predicate Condition="Condition"
               ParameterExpression="@ParameterExpression"
               OnChange="@ChangeRight"
               OnRemove="@RemoveRight">
    </Predicate>
</MudStack>

@code {

    Dictionary<string, string> Operators = new()
    {
        { "AndAlso", "And" },
        { "OrElse", "Or" }
    };

    [Parameter] public Action<Expression> OnChange { get; set; }
    
    [Parameter] public LogicalCondition Condition { get; set; }

    [Parameter] public ParameterExpression ParameterExpression { get; set; }

    protected override void OnInitialized()
    {
    }

    private void ChangeLeft(Expression left)
    {
        Condition.Left = left;
        OnChange(Condition.Compile());
    }

    private void ChangeRight(Expression right)
    {
        Condition.Right = right;
        OnChange(Condition.Compile());
    }

    private void ChangeOperator(string op)
    {
        var expressionType = (ExpressionType)Enum.Parse(typeof(ExpressionType), op);
        Condition.ComparaisonType = expressionType;
        OnChange(Condition.Compile());
    }

    private void RemoveLeft()
    {
        //OnChange(PredicateExpression.Right.Copy());
    }

    private void RemoveRight()
    {
        //OnChange(PredicateExpression.Left.Copy());
    }

}