@using NetQueryBuilder.Queries
@typeparam TEntity where TEntity : class
@inject IQueryFactory QueryFactory

<MudStack Spacing="10">
    <div>
        <MudText Typo="Typo.h5">SELECT</MudText>
        <MudSelect Label="Fields" T="PropertyPath" @bind-SelectedValues="_selectedPropertyPaths" MultiSelection="true" SelectAll="true" ToStringFunc="@(prop => prop!.PropertyName)">
            @foreach (var property in _propertyPaths)
            {
                <MudSelectItem T="PropertyPath" Value="property">
                    @property.PropertyName
                </MudSelectItem>
            }
        </MudSelect>
    </div>

    <div>
        <MudText Typo="Typo.h5" GutterBottom="true">WHERE</MudText>
        <CascadingValue Value="@_query">
            <BlockComponent OnChange="@OnChanged"
                            Condition="@Condition"
                            Parameter="@_query.Parameter">
            </BlockComponent>
        </CascadingValue>
        <MudItem xs="4" lg="4">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Lambda Expression</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.CopyAll" Color="Color.Default"/>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <code>@_query.Lambda.ToString()</code>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </div>

    <div>
        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="RunQuery">Run Query</MudButton>
    </div>

    <MudTable Items="_data" Bordered="true" Striped="true">
        <HeaderContent>
            @foreach (var property in _selectedPropertyPaths)
            {
                <MudTh>@property.PropertyName</MudTh>
            }
        </HeaderContent>
        <RowTemplate>
            @foreach (var propertyPath in _selectedPropertyPaths) // (ex: "Address.City")
            {
                <MudTd>@GetNestedPropertyValue(context, propertyPath.PropertyName)</MudTd>
            }
        </RowTemplate>
    </MudTable>
</MudStack>