@using NetQueryBuilder.Blazor.Components.Conditions
@typeparam TEntity where TEntity : class

<MudStack Spacing="10">
    <div>
        <MudText Typo="Typo.h5">SELECT</MudText>
        <MudSelect Label="Fields" T="SelectPropertyPath" SelectedValues="_selectedPropertyPaths.Where(s => s.IsSelected)" SelectedValuesChanged="SelectedValuesChanged" MultiSelection="true" SelectAll="true"
                   ToStringFunc="@(prop => prop!.Property.DisplayName())">
            @foreach (var property in _selectedPropertyPaths)
            {
                <MudSelectItem T="SelectPropertyPath" Value="property">
                    @property.Property.DisplayName()
                </MudSelectItem>
            }
        </MudSelect>
    </div>

    <div>
        <MudText Typo="Typo.h5" GutterBottom="true">WHERE</MudText>
        <CascadingValue Value="@_query">
            <ConditionComponent Condition="@_query.Condition"/>
        </CascadingValue>
        <MudItem xs="4" lg="4">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">_lambda Expression</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.CopyAll" Color="Color.Default"/>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <code>@Expression</code>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </div>

    <div>
        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="RunQuery">Run Query</MudButton>
    </div>

    <QueryResultTable TEntity="TEntity" Data="_data" Properties="_selectedPropertyPaths"/>
</MudStack>