@using System.Linq.Expressions
@using NetQueryBuilder.Conditions
<MudPaper Class="pa-2" Style=@("margin-left:" + IndentationLevel * 20 + "px;")>
    <MudGrid Spacing="3">
        @foreach (var childCondition in Condition.Conditions)
        {
            if (childCondition != Condition.Conditions.First())
            {
                <MudItem xs="12" sm="4">
                    <MudSelect T="LogicalOperator" Label="Operator" Value="@childCondition.LogicalOperator" ValueChanged="@(v => ChangeOperator(childCondition, v))">
                        @foreach (var item in _operators)
                        {
                            <MudSelectItem T="LogicalOperator" Value="@item">@item.ToString()</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
            }

            <MudItem xs="12" sm="4">
                <MudCheckBox T="bool" Label="Group"
                             ValueChanged="@(e => Select(e, childCondition))"/>
                <MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.Delete" OnClick="e => RemovePredicate(childCondition)"></MudIconButton>
            </MudItem>
            <MudItem xs="12" sm="4">
                <ConditionComponent Condition="childCondition"></ConditionComponent>
            </MudItem>
        }

        <MudItem xs="12" sm="4">
            <div>
                <MudStack Row Spacing="2">
                    <MudButton Variant="Variant.Filled" OnClick="@(() => AddPredicate(ExpressionType.AndAlso))">And</MudButton>
                    <MudButton Variant="Variant.Filled" OnClick="@(() => AddPredicate(ExpressionType.OrElse))">Or</MudButton>
                    <MudButton Variant="Variant.Filled" OnClick="@(() => GroupConditions())">Group</MudButton>
                    @if (Condition.Parent != Condition.GetRoot())
                    {
                        <MudButton Variant="Variant.Filled" OnClick="@(() => UnGroupConditions())">Ungroup</MudButton>
                    }
                </MudStack>
            </div>
        </MudItem>
    </MudGrid>
</MudPaper>

@code {
    [Parameter] public required BlockCondition Condition { get; set; }

    [Parameter] public int IndentationLevel { get; set; } = 0;


    List<ICondition> SelectedConditions { get; set; } = new();

    IEnumerable<LogicalOperator> _operators = Enum.GetValues<LogicalOperator>();

    private void GroupConditions()
    {
        Condition.Group(SelectedConditions);
        SelectedConditions.Clear();
    }

    private void UnGroupConditions()
    {
        Condition.Ungroup(SelectedConditions);
        SelectedConditions.Clear();
    }

    private void Select(bool e, ICondition childCondition)
    {
        if (e)
            SelectedConditions.Add(childCondition);
        else
            SelectedConditions.Remove(childCondition);
    }

    private void AddPredicate(ExpressionType binaryExpressionType)
    {
        Condition.CreateNew();
    }

    private void RemovePredicate(ICondition condition)
    {
        Condition.Remove(condition);
    }

    private void ChangeOperator(ICondition condition, LogicalOperator op)
    {
        condition.LogicalOperator = op;
    }

}